@import '../../../../assets//styles/variables';
@import '../../../../assets/styles/mixins';



.modelDoiVe {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &-main {
        width: 100%;

        &-date,
        &-item {
            display: flex;
            align-items: center;
            margin: 24px 32px;

            h3 {
                width: 110px;
                margin: 0;
            }

            p {
                @include text-default;
                margin: 0 60px;
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                opacity: 0.7;
            }

            .ant-picker {
                margin-left: 54px;
                padding: 8px 12px;
                width: 141px;
                height: 40px;
                border: 1px solid #A5A8B1;
                border-radius: 8px;

            }
        }

    }
    &-btn{
        display: flex;
        &-Huy{
            @include btn-controldf;
           
        }
        &-Luu{
            @include btn-controldfBg;
        }
        button{
            width:142px ;
        }
       
    }
  
}