@import '../../assets/styles/variables';

@mixin btn-controldf {
    .ant-btn-primary {
        @include text-default();
        padding: 11px 16px;
        border: 1px solid #FF993C;
        border-radius: 6px;
        height: 48px;
        color: #FF993C;
        background-color: $whiteColor;
        font-weight: 700;
        font-size: 18px;
        line-height: 26px;
        margin: 8px;

        span {
            margin-left: 4px;
        }
    }


    .ant-btn-primary:hover {
        background-color: $primaryColor;
        border-color: $primaryColor;
    }
}

@mixin btn-controldfBg {
    .ant-btn-primary {
        @include text-default();
        padding: 11px 16px;
        border: 1px solid #FF993C;
        border-radius: 6px;
        height: 48px;
        color: $whiteColor;
        background-color: #FF993C;
        font-weight: 700;
        font-size: 18px;
        line-height: 26px;
        margin: 8px;

        span {
            margin-left: 4px;
        }
    }


    .ant-btn-primary:hover {
        background-color: $primaryColor;
        border-color: $primaryColor;
    }
}

@mixin fontTextTitle_Content {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #1E0D03;
    margin: 24px;
}

@mixin text-default {
    font-family: 'Montserrat';
    font-style: normal;
    letter-spacing: 0.015em;
    color: #1E0D03;
}

@mixin page-default {
    width: 1920px;
    height: 1080px;
    background-color: #F9F6F4;
    border-radius: 24px;

    .ant-layout {
        background: none;
    }
}

@mixin control-default {
    .ant-input-group {
        line-height: 48px;
        width: 100%;
        background: #FFFFFF;
        /* Gray/$-gray-100 */
        height: 48px;
        border: 1.5px solid #D4D4D7;
        box-sizing: border-box;
        border-radius: 8px;
    }

    .ant-input-search-button {
        border: none;
        height: 48px;

        .anticon-search {
            color: #1E0D03;
        }
    }

    .ant-input {
        font-family: 'Montserrat';
        font-style: italic;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
    }
}

@mixin ContentDF {
    margin-top: 20px;
    width: 1567px;
    height: 963px;
    background-color: $whiteColor;
    border-radius: 24px;


}

@mixin tableDefault ($widthtb){
    .Content-Table {
        width: $widthtb;

        margin-left: 24px;
        margin-top: 16px;

        // scss table
        .ant-table {
            border-radius: 8px 8px 0px 0px;
            width: $widthtb ;
            height: 624px;
        }

        .ant-table-thead>tr>th {
            background-color: #F7F8FB;
            @include text-default();
            font-weight: 600;
            font-size: 16px;
            line-height: 26px;

            white-space: nowrap;
            padding: 0px 17px;
            width: 93px;
            height: 49px;
        }

        .ant-table-tbody>tr>td {
            @include text-default();
            width: 162px;
            height: 48px;
            padding: 0px 17px;
            font-weight: 500;
            font-size: 14px;
            line-height: 22px;
            opacity: 0.7;
            white-space: nowrap;
            cursor: pointer;
          

        }

        tr:nth-child(odd) {
            background: $whiteColor;
        }

        tr:nth-child(even) {
            background: #F7F8FB;
        }

        .ant-table-cell {


            a {
                color: #4277FF;
                text-decoration: underline;
            }
        }

        .ant-table-pagination-right {
            justify-content: center;
        }

        .ant-pagination-item-active {
            border: 1px solid #FF993C;
            border-radius: 4px;
            color: #FF993C;
        }

        .ant-pagination-item-active a {

            color: #FF993C;
        }

        .ant-pagination-options {
            display: none;
        }

    }
}